*, *:before, *:after {box-sizing:  border-box !important;}
body{
    background-color: blueviolet;
}
.fila {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
 background-color: aquamarine;
  
}
.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
 background-color: brown;
}
.well {
 position:relative;
 display: block;
}
.txtBuscar{
    min-width: 100%;
}
.imagen{
    width: 18em;
}